body {
	background-image:url("../images/wood.jpg");
}
.left {
	text-align:left;
}
.right {
	text-align:right;
}
#uploadDiv {
	text-align:center;
	margin:20px 0px;
}
#imagePreviewDiv {
	text-align:center;
}
#startDiv {
	text-align:center;
	margin:20px 0px;
}
#imagePreview {
	text-align:center;
	vertical-align:middle;
	width:300px;
	height:300px;
}
.greenBtn {
	font-size: 1.5em;
	padding: 10px 30px;
	font-family: fantasy;
	font-weight: 900;
	border: 3px outset rgb(66, 57, 140);
	border-radius: 5px;
	cursor: pointer;
	background-image: radial-gradient(rgb(70, 199, 70) 30%, rgb(54, 139, 54), rgb(0, 125, 0));
}
.greenBtn:hover {
	background-image: radial-gradient(rgb(80, 209, 80) 30%, rgb(64, 149, 64), rgb(10, 135, 10));
}
#sizeDiv {
	text-align:center;
	width:300px;
	margin:20px auto 0px auto;
	font-size:1.3em;
	font-family:sans-serif;
	background-color:rgba(32,32,32,0.75);
	color:rgb(224,197,60);
	padding:10px 0px;
}
#sizeTable {
	margin:0px auto;
	width:80%;
}
#sliderTrack {
	width: 80%;
	height: 5px;
	background-color: rgb(105, 105, 105);
	margin: 30px auto;
	z-index:1;
}
#sliderBall {
	width:30px;
	height:30px;
	background-color:white;
	border-radius:15px;
	position:relative;
	top:-18px;
	cursor:pointer;
	z-index:3;
}
#sliderColor {
	position:relative;
	width:0px;
	height: 5px;
	background-color:green;
	z-index:2;
}
#sizeLabel {
	text-align:right;
	color:white;
}
